@import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: #34495e;
  color: #ecf0f1;
  font-family: 'Twinkle Star', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  min-height: 100vh;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-time {
  margin: 20px;
}

.container-time h1 {
  text-align: center;
}


.wrapper button {
  background-color: transparent;
  padding: 15px;
  margin: 10px;
  font-size: 25px;
  color: #ecf0f1;
}

.wrapper span {
  font-size: 40px;
  margin: 0 8px;
}